<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema no Ar</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>Sistema Financeiro</h1>
    <button class="btn btn-warning" id="bt-create-write">CRIAR ARQUIVO</button>
    <button class="btn btn-primary" id="bt-leitura">LER ARQUIVO</button>


    <script src="/sr.js"></script>
</body>

</html>